*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0b1120;
    color:#fff;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.logo h2{
    font-size:28px;
    color:#fff;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    color:#ddd;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#3b82f6;
}

.buttons{
    display:flex;
    gap:15px;
}

.login{
    padding:10px 22px;
    border:2px solid #3b82f6;
    background:transparent;
    color:#fff;
    border-radius:30px;
    cursor:pointer;
}

.signup{
    padding:10px 22px;
    background:#3b82f6;
    color:#fff;
    border:none;
    border-radius:30px;
    cursor:pointer;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    min-height:85vh;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-text p{
    color:#cbd5e1;
    line-height:1.8;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#3b82f6;
    color:white;
    padding:15px 35px;
    border-radius:40px;
    text-decoration:none;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);
}

.hero-image img{
    width:500px;
    max-width:100%;
}

.coins{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:70px 8%;
}

.coin{
    width:250px;
    background:#1e293b;
    padding:30px;
    border-radius:20px;
    text-align:center;
    transition:.3s;
}

.coin:hover{
    transform:translateY(-10px);
}

.coin img{
    width:70px;
    margin-bottom:15px;
}

.coin h3{
    margin-bottom:10px;
}

.coin p{
    color:#22c55e;
    font-size:20px;
    font-weight:600;
}

footer{
    background:#111827;
    text-align:center;
    padding:30px;
    color:#94a3b8;
}.features{
    padding:90px 8%;
    text-align:center;
    background:#111827;
}

.features h2{
    font-size:42px;
    margin-bottom:15px;
}

.subtitle{
    color:#94a3b8;
    margin-bottom:50px;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.feature-card{
    background:#1e293b;
    padding:40px 30px;
    border-radius:20px;
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(59,130,246,.25);
}

.feature-card i{
    font-size:50px;
    color:#3b82f6;
    margin-bottom:20px;
}

.feature-card h3{
    margin-bottom:15px;
}

.feature-card p{
    color:#cbd5e1;
    line-height:1.8;
}
